/Booleans$Boolean.class
/Booleans.class
/Characters.class
/ItMethodCompanion.class
/Number$Numbers.class
/Number.class
/Ordinal.class
/Random.class
/String$Strings.class
/String.class
/System.class
/Thing$Things.class
/Thing.class
